* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
}
.hero {
  height: 100vh;

  background:
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)),
    url("./IN-en-20260202-TRIFECTA-perspective_04f5de39-b518-493c-9a8d-6aef11af0457_large.jpg");

  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 150px;
}

.logo {
  width: 220px;
}

.nav-right select {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 10px;
  border-radius: 4px;
}

.signin {
  margin-left: 10px;
  background: red;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 4px;
  cursor: pointer;
}
.hero-content {
  text-align: center;
  max-width: 700px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content h2 {
  font-size: 48px;
  font-weight: bold;
}

.hero-content p {
  margin: 15px 0;
}

.price {
  font-size: 20px;
}
.email-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.email-box input {
  width: 350px;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid gray;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.email-box button {
  margin-left: 8px;
  padding: 14px 22px;
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.arc {
  position: absolute;
  width: 100%;
  height: 120px;
  border-top: 5px solid #ff0033;
  background: radial-gradient(circle at top, #0d1135, #000000);
  border-radius: 600%;
  z-index: -1;
}
.main {
  padding: 50px 150px;
  margin-top: 50px;
  height: 700px;
  background: radial-gradient(circle at top, #0d1135, #000000);
}
.tranding {
  width: 100%;
}
.tranding-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 5px;
  margin-top: 20px;
  overflow-x: hidden;
}
.titles {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: -20px;
}
.more {
  margin-top: 30px;
}
.gredient-group {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
}
.gredient-back {
  flex: 1;
  height: 300px;
  background: linear-gradient(to bottom right, #0d1135, #571605);
  border-radius: 8px;
  padding: 20px;
}
.gredient-back h2 {
  font-size: 20px;
  margin-bottom: 25px;
}
.faq h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 15px;
}
.questions {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  background-color: rgb(34, 31, 31);
  padding: 1em;
  border-radius: 4px;
  justify-content: space-between;
}
.questions button {
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}
.membership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.email-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 6px;
}
.email-box input {
  width: 40em;
  padding: 14px;
  border-radius: 4px;
  border: 1px solid gray;
  background: rgb(34, 31, 31);
  color: white;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 8px 0;
}
a {
  text-decoration: none;
  color: white;
}
.footer-end {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0px;
}
